# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
Project/kadai3/.vs/
Project/kadai3/x64/
Project/kadai3/Log.txt
BaseProject/.vs/BaseProject/FileContentIndex/ed54144a-b2dc-4665-b62d-3299b955421f.vsidx
BaseProject/.vs/BaseProject/FileContentIndex/4c4ce766-d84c-4335-85b5-b560ce0fb0e8.vsidx
BaseProject/.vs/BaseProject/FileContentIndex/ff6f49d9-97b3-49f1-b1b0-6ff601904d86.vsidx
